@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFFFFF;
  --color-teal: #008080;
  --color-dark-teal: #005F5F;
  --color-light-gray: #F5F5F5;
  --color-coral: #FF6F61;
  --color-gold: #FFD700;
}


body {
  font-family: "poppins", sans-serif;
  /* color: var(--color-dark-teal); */
}


  